body
{
    background-color: #AAA;
    font-family: Helvetica, sans-serif;
}

div#container
{
    margin-left: 20px;
    margin-right: 20px;
}

div#container h1
{
    margin-left: 55px;
    color: #cc342d;
}

section
{
    margin: 20px 50px;
    padding: 20px;
    background-color: #FFF;
    border-radius: 20px;
    border: solid 3px #cc342d;
    box-shadow: 5px 5px 5px #666;
}

section h2
{
    margin-top: 0px;
    color: #cc342d;
}

section#personal
{
    height: 225px;
}

section#personal div#bio
{
    margin-left: 200px;
}

div#picture-container
{
    width: 175px;
    height: 175px;
    border: solid 1px red;
    float: left;
    border-radius: 20px;
    overflow: hidden;
}

form table th
{
    text-align: right;
    color: #666;
    vertical-align: top;
    padding-top: 7px;
}

input, textarea
{
    border-radius: 10px;
    padding: 7px;
    border: solid 1px #AAA;
}

input:focus, textarea:focus
{
    background-color: #CCC;
    border: solid 1px #cc342d;
}


input[type="submit"], input[type="button"]
{
    padding: 7px 10px;
    cursor: pointer;
}

input[type="submit"]:hover, input[type="button"]:hover
{
    border: solid 1px #666;
    background-color: #cc342d;
    color: #FFF;
}

input[type="text"].validation-error, textarea.validation-error
{
    border: solid 1px red;
}

ul.error-messages
{
    margin: 5px;
    padding: 0px;
    list-style-type: none;
    color: #cc342d;
}